.modal-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 50%;
  height: 20%;
  padding: 2rem;
  margin: 2rem;
  font-family: arial;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.modal-div img {
  max-width: 70%;
}

.modal-div button {
  background: red;
}

.modal-section {
  margin: 0 auto;
  width: 68%;
}

.modal-info-div {
  width: 50%;
}

.modal-div-description {
  font-size: 12px;
}
